*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.DS_Store
!core-language/Parsing13-Wyvern.pdf
core-language/core-language.pdf
!omar-speaking-skills.pdf
.project

guide/css.sty
*.css
*.upa
*.upb

type_members/code_examples/Equatable.class
type_members/code_examples/Function2.class
type_members/code_examples/Tree.class
type_members/code_examples/List.class

*.dropbox.attr
